.world-grid-container {
  background-image: url("images/grass.jpg");
  background-repeat: repeat;
  width: 1600px;
  height: 800px;
  float: left; }

.key .icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  background-size: 32px 32px; }

.players {
  height: 0px !important;
  z-index: 0;
  overflow: visible;
  pointer-events: none; }
  .players .icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-image: url("./images/players.png"); }

.mountain {
  background-image: url("./images/mountain.png"); }

.river-1 {
  background-image: url("./images/rivers/1.png"); }

.river-2 {
  background-image: url("./images/rivers/2.png"); }

.river-3 {
  background-image: url("./images/rivers/3.png"); }

.forest {
  background-size: 64px 64px !important;
  background-repeat: repeat;
  background-image: url("./images/trees.png"); }

.world-grid {
  width: 1600px;
  height: 800px;
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-template-rows: repeat(25, 1fr); }
  .world-grid .col-base, .world-grid .col-1, .world-grid .world-grid-display, .world-grid .col-2, .world-grid .col-3, .world-grid .col-4, .world-grid .col-5, .world-grid .col-6, .world-grid .col-7, .world-grid .col-8, .world-grid .col-9, .world-grid .col-10, .world-grid .col-11, .world-grid .col-12, .world-grid .col-13, .world-grid .col-14, .world-grid .col-15, .world-grid .col-16, .world-grid .col-17, .world-grid .col-18, .world-grid .col-19, .world-grid .col-20, .world-grid .col-21, .world-grid .col-22, .world-grid .col-23, .world-grid .col-24, .world-grid .col-25, .world-grid .col-26, .world-grid .col-27, .world-grid .col-28, .world-grid .col-29, .world-grid .col-30, .world-grid .col-31, .world-grid .col-32, .world-grid .col-33, .world-grid .col-34, .world-grid .col-35, .world-grid .col-36, .world-grid .col-37, .world-grid .col-38, .world-grid .col-39, .world-grid .col-40, .world-grid .col-41, .world-grid .col-42, .world-grid .col-43, .world-grid .col-44, .world-grid .col-45, .world-grid .col-46, .world-grid .col-47, .world-grid .col-48, .world-grid .col-49, .world-grid .col-50 {
    width: 32px;
    height: 32px;
    background-size: 32px 32px; }
  .world-grid .col-end-base, .world-grid .col-end-1, .world-grid .col-end-2, .world-grid .col-end-3, .world-grid .col-end-4, .world-grid .col-end-5, .world-grid .col-end-6, .world-grid .col-end-7, .world-grid .col-end-8, .world-grid .col-end-9, .world-grid .col-end-10, .world-grid .col-end-11, .world-grid .col-end-12, .world-grid .col-end-13, .world-grid .col-end-14, .world-grid .col-end-15, .world-grid .col-end-16, .world-grid .col-end-17, .world-grid .col-end-18, .world-grid .col-end-19, .world-grid .col-end-20, .world-grid .col-end-21, .world-grid .col-end-22, .world-grid .col-end-23, .world-grid .col-end-24, .world-grid .col-end-25, .world-grid .col-end-26, .world-grid .col-end-27, .world-grid .col-end-28, .world-grid .col-end-29, .world-grid .col-end-30, .world-grid .col-end-31, .world-grid .col-end-32, .world-grid .col-end-33, .world-grid .col-end-34, .world-grid .col-end-35, .world-grid .col-end-36, .world-grid .col-end-37, .world-grid .col-end-38, .world-grid .col-end-39, .world-grid .col-end-40, .world-grid .col-end-41, .world-grid .col-end-42, .world-grid .col-end-43, .world-grid .col-end-44, .world-grid .col-end-45, .world-grid .col-end-46, .world-grid .col-end-47, .world-grid .col-end-48, .world-grid .col-end-49, .world-grid .col-end-50, .world-grid .col-end-51, .world-grid .world-grid-display {
    width: auto;
    background-size: 100% 100%; }
  .world-grid .col-1, .world-grid .world-grid-display {
    grid-column: 1; }
  .world-grid .col-end-1 {
    grid-column-end: 1; }
  .world-grid .col-2 {
    grid-column: 2; }
  .world-grid .col-end-2 {
    grid-column-end: 2; }
  .world-grid .col-3 {
    grid-column: 3; }
  .world-grid .col-end-3 {
    grid-column-end: 3; }
  .world-grid .col-4 {
    grid-column: 4; }
  .world-grid .col-end-4 {
    grid-column-end: 4; }
  .world-grid .col-5 {
    grid-column: 5; }
  .world-grid .col-end-5 {
    grid-column-end: 5; }
  .world-grid .col-6 {
    grid-column: 6; }
  .world-grid .col-end-6 {
    grid-column-end: 6; }
  .world-grid .col-7 {
    grid-column: 7; }
  .world-grid .col-end-7 {
    grid-column-end: 7; }
  .world-grid .col-8 {
    grid-column: 8; }
  .world-grid .col-end-8 {
    grid-column-end: 8; }
  .world-grid .col-9 {
    grid-column: 9; }
  .world-grid .col-end-9 {
    grid-column-end: 9; }
  .world-grid .col-10 {
    grid-column: 10; }
  .world-grid .col-end-10 {
    grid-column-end: 10; }
  .world-grid .col-11 {
    grid-column: 11; }
  .world-grid .col-end-11 {
    grid-column-end: 11; }
  .world-grid .col-12 {
    grid-column: 12; }
  .world-grid .col-end-12 {
    grid-column-end: 12; }
  .world-grid .col-13 {
    grid-column: 13; }
  .world-grid .col-end-13 {
    grid-column-end: 13; }
  .world-grid .col-14 {
    grid-column: 14; }
  .world-grid .col-end-14 {
    grid-column-end: 14; }
  .world-grid .col-15 {
    grid-column: 15; }
  .world-grid .col-end-15 {
    grid-column-end: 15; }
  .world-grid .col-16 {
    grid-column: 16; }
  .world-grid .col-end-16 {
    grid-column-end: 16; }
  .world-grid .col-17 {
    grid-column: 17; }
  .world-grid .col-end-17 {
    grid-column-end: 17; }
  .world-grid .col-18 {
    grid-column: 18; }
  .world-grid .col-end-18 {
    grid-column-end: 18; }
  .world-grid .col-19 {
    grid-column: 19; }
  .world-grid .col-end-19 {
    grid-column-end: 19; }
  .world-grid .col-20 {
    grid-column: 20; }
  .world-grid .col-end-20 {
    grid-column-end: 20; }
  .world-grid .col-21 {
    grid-column: 21; }
  .world-grid .col-end-21 {
    grid-column-end: 21; }
  .world-grid .col-22 {
    grid-column: 22; }
  .world-grid .col-end-22 {
    grid-column-end: 22; }
  .world-grid .col-23 {
    grid-column: 23; }
  .world-grid .col-end-23 {
    grid-column-end: 23; }
  .world-grid .col-24 {
    grid-column: 24; }
  .world-grid .col-end-24 {
    grid-column-end: 24; }
  .world-grid .col-25 {
    grid-column: 25; }
  .world-grid .col-end-25 {
    grid-column-end: 25; }
  .world-grid .col-26 {
    grid-column: 26; }
  .world-grid .col-end-26 {
    grid-column-end: 26; }
  .world-grid .col-27 {
    grid-column: 27; }
  .world-grid .col-end-27 {
    grid-column-end: 27; }
  .world-grid .col-28 {
    grid-column: 28; }
  .world-grid .col-end-28 {
    grid-column-end: 28; }
  .world-grid .col-29 {
    grid-column: 29; }
  .world-grid .col-end-29 {
    grid-column-end: 29; }
  .world-grid .col-30 {
    grid-column: 30; }
  .world-grid .col-end-30 {
    grid-column-end: 30; }
  .world-grid .col-31 {
    grid-column: 31; }
  .world-grid .col-end-31 {
    grid-column-end: 31; }
  .world-grid .col-32 {
    grid-column: 32; }
  .world-grid .col-end-32 {
    grid-column-end: 32; }
  .world-grid .col-33 {
    grid-column: 33; }
  .world-grid .col-end-33 {
    grid-column-end: 33; }
  .world-grid .col-34 {
    grid-column: 34; }
  .world-grid .col-end-34 {
    grid-column-end: 34; }
  .world-grid .col-35 {
    grid-column: 35; }
  .world-grid .col-end-35 {
    grid-column-end: 35; }
  .world-grid .col-36 {
    grid-column: 36; }
  .world-grid .col-end-36 {
    grid-column-end: 36; }
  .world-grid .col-37 {
    grid-column: 37; }
  .world-grid .col-end-37 {
    grid-column-end: 37; }
  .world-grid .col-38 {
    grid-column: 38; }
  .world-grid .col-end-38 {
    grid-column-end: 38; }
  .world-grid .col-39 {
    grid-column: 39; }
  .world-grid .col-end-39 {
    grid-column-end: 39; }
  .world-grid .col-40 {
    grid-column: 40; }
  .world-grid .col-end-40 {
    grid-column-end: 40; }
  .world-grid .col-41 {
    grid-column: 41; }
  .world-grid .col-end-41 {
    grid-column-end: 41; }
  .world-grid .col-42 {
    grid-column: 42; }
  .world-grid .col-end-42 {
    grid-column-end: 42; }
  .world-grid .col-43 {
    grid-column: 43; }
  .world-grid .col-end-43 {
    grid-column-end: 43; }
  .world-grid .col-44 {
    grid-column: 44; }
  .world-grid .col-end-44 {
    grid-column-end: 44; }
  .world-grid .col-45 {
    grid-column: 45; }
  .world-grid .col-end-45 {
    grid-column-end: 45; }
  .world-grid .col-46 {
    grid-column: 46; }
  .world-grid .col-end-46 {
    grid-column-end: 46; }
  .world-grid .col-47 {
    grid-column: 47; }
  .world-grid .col-end-47 {
    grid-column-end: 47; }
  .world-grid .col-48 {
    grid-column: 48; }
  .world-grid .col-end-48 {
    grid-column-end: 48; }
  .world-grid .col-49 {
    grid-column: 49; }
  .world-grid .col-end-49 {
    grid-column-end: 49; }
  .world-grid .col-50 {
    grid-column: 50; }
  .world-grid .col-end-50 {
    grid-column-end: 50; }
  .world-grid .col-end-51, .world-grid .world-grid-display {
    width: auto;
    grid-column-end: 51; }
  .world-grid .row-1, .world-grid .world-grid-display {
    grid-row-start: 1;
    grid-row-end: 2; }
  .world-grid .row-end-1 {
    height: auto;
    grid-row-end: 1; }
  .world-grid .row-2 {
    grid-row-start: 2;
    grid-row-end: 3; }
  .world-grid .row-end-2 {
    height: auto;
    grid-row-end: 2; }
  .world-grid .row-3 {
    grid-row-start: 3;
    grid-row-end: 4; }
  .world-grid .row-end-3 {
    height: auto;
    grid-row-end: 3; }
  .world-grid .row-4 {
    grid-row-start: 4;
    grid-row-end: 5; }
  .world-grid .row-end-4 {
    height: auto;
    grid-row-end: 4; }
  .world-grid .row-5 {
    grid-row-start: 5;
    grid-row-end: 6; }
  .world-grid .row-end-5 {
    height: auto;
    grid-row-end: 5; }
  .world-grid .row-6 {
    grid-row-start: 6;
    grid-row-end: 7; }
  .world-grid .row-end-6 {
    height: auto;
    grid-row-end: 6; }
  .world-grid .row-7 {
    grid-row-start: 7;
    grid-row-end: 8; }
  .world-grid .row-end-7 {
    height: auto;
    grid-row-end: 7; }
  .world-grid .row-8 {
    grid-row-start: 8;
    grid-row-end: 9; }
  .world-grid .row-end-8 {
    height: auto;
    grid-row-end: 8; }
  .world-grid .row-9 {
    grid-row-start: 9;
    grid-row-end: 10; }
  .world-grid .row-end-9 {
    height: auto;
    grid-row-end: 9; }
  .world-grid .row-10 {
    grid-row-start: 10;
    grid-row-end: 11; }
  .world-grid .row-end-10 {
    height: auto;
    grid-row-end: 10; }
  .world-grid .row-11 {
    grid-row-start: 11;
    grid-row-end: 12; }
  .world-grid .row-end-11 {
    height: auto;
    grid-row-end: 11; }
  .world-grid .row-12 {
    grid-row-start: 12;
    grid-row-end: 13; }
  .world-grid .row-end-12 {
    height: auto;
    grid-row-end: 12; }
  .world-grid .row-13 {
    grid-row-start: 13;
    grid-row-end: 14; }
  .world-grid .row-end-13 {
    height: auto;
    grid-row-end: 13; }
  .world-grid .row-14 {
    grid-row-start: 14;
    grid-row-end: 15; }
  .world-grid .row-end-14 {
    height: auto;
    grid-row-end: 14; }
  .world-grid .row-15 {
    grid-row-start: 15;
    grid-row-end: 16; }
  .world-grid .row-end-15 {
    height: auto;
    grid-row-end: 15; }
  .world-grid .row-16 {
    grid-row-start: 16;
    grid-row-end: 17; }
  .world-grid .row-end-16 {
    height: auto;
    grid-row-end: 16; }
  .world-grid .row-17 {
    grid-row-start: 17;
    grid-row-end: 18; }
  .world-grid .row-end-17 {
    height: auto;
    grid-row-end: 17; }
  .world-grid .row-18 {
    grid-row-start: 18;
    grid-row-end: 19; }
  .world-grid .row-end-18 {
    height: auto;
    grid-row-end: 18; }
  .world-grid .row-19 {
    grid-row-start: 19;
    grid-row-end: 20; }
  .world-grid .row-end-19 {
    height: auto;
    grid-row-end: 19; }
  .world-grid .row-20 {
    grid-row-start: 20;
    grid-row-end: 21; }
  .world-grid .row-end-20 {
    height: auto;
    grid-row-end: 20; }
  .world-grid .row-21 {
    grid-row-start: 21;
    grid-row-end: 22; }
  .world-grid .row-end-21 {
    height: auto;
    grid-row-end: 21; }
  .world-grid .row-22 {
    grid-row-start: 22;
    grid-row-end: 23; }
  .world-grid .row-end-22 {
    height: auto;
    grid-row-end: 22; }
  .world-grid .row-23 {
    grid-row-start: 23;
    grid-row-end: 24; }
  .world-grid .row-end-23 {
    height: auto;
    grid-row-end: 23; }
  .world-grid .row-24 {
    grid-row-start: 24;
    grid-row-end: 25; }
  .world-grid .row-end-24 {
    height: auto;
    grid-row-end: 24; }
  .world-grid .row-25 {
    grid-row-start: 25;
    grid-row-end: 26; }
  .world-grid .row-end-25 {
    height: auto;
    grid-row-end: 25; }
  .world-grid .row-end-26, .world-grid .world-grid-display {
    height: auto;
    grid-row-end: 26; }

.world-grid-display {
  background-image: repeating-linear-gradient(0deg, #CCC, transparent 1px, transparent 32px), repeating-linear-gradient(-90deg, #CCC, transparent 1px, transparent 32px);
  width: 1600px;
  height: 800px; }

.coords.hasCard .card {
  width: auto; }

.hasCard {
  position: relative;
  cursor: default; }
  .hasCard .card {
    z-index: 99;
    display: none;
    background-color: gray;
    width: 200px; }
    .hasCard .card .label {
      display: inline-block;
      width: 50%; }
    .hasCard .card .data {
      display: inline-block;
      width: 50%;
      text-transform: capitalize; }
  .hasCard:hover .card {
    display: block;
    position: absolute;
    top: 0;
    left: 100%; }
