.settlement {
  background-image: url('images/settlements/base.png');
}

.thorpe {
  background-image: url('images/settlements/thorpe.png');
}

.village {
  background-image: url('images/settlements/village.png');
}

.small.town {
  background-image: url('images/settlements/small-town.png');
}

.large.town {
  background-image: url('images/settlements/large-town.png');
}

.small.city {
  background-image: url('images/settlements/city.png');
}

.large.city {
  background-image: url('images/settlements/city.png');
}

.metropolis {
  background-image: url('images/settlements/city.png');
}